



  body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;

    background: #000;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    overflow-x: hidden;
    overflow-y: hidden;
  }

  @keyframes fadeInAnimation {
   0%{
     opacity: 0;
   }
    100%{
      opacity: 1;
    }
  }

  .navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 110px;
    z-index: 1;
  }
  
  .nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 70%;
  }
  
  .logo{
    flex: 1 1 auto;
    margin-left: 10%;
  }
  
  a{
    margin: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
  }
  
  a:hover{
    color: rgb(158, 34, 86);
  }
  
  .about-area{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 0%;
  }

  .adding-a-line{
    border-bottom: solid 3px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1.4px;
  }

  h1{
      margin-top:70%;
  }
  
  img{
    width: 200px;
  }

  .audio{
    display: block;
  }

  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius:50px;
    text-align:center;
    font-weight: 200;
    box-shadow: 2px 2px 3px rgb(51, 51, 51);
    margin: 0%;
  }

  #footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

  }
  
  .text-part{
    width: 85%;
    height: 10%;
    margin: auto;
    align-items: center;
    align-self: center;
    align-content: center;
  }

  .inactiveLink {
    pointer-events: none;
    cursor: default;
 }

  html{
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
  }
