


  body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;

    background: #000;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

  }

  @keyframes fadeInAnimation {
   0%{
     opacity: 0;
   }
    100%{
      opacity: 1;
    }
  }

  .navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 110px;
    z-index: 1;
  }
  
  .nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 10%;
  }
  
  .logo{
    flex: 1 1 auto;
    margin-left: 10%;
  }
  
  a{
    margin: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
  }
  
  a:hover{
    color: rgb(158, 34, 86);
  }

  
  .banner-area{
    position: relative;
    background-image:url(../images/free01.jpg);
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .about-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 80px;
  }

  .adding-a-line{
    border-bottom: solid 3px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1.4px;
  }
  
  .learnmore-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
    background: url(../images/free02.jpg);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.4px;
  }

  .figure-java{
    margin: auto;
    float: right;
  }

  .figure-html{
    margin: auto;
    float: right;
  }

  .figure-css{
    margin: auto;
    float: right;
  }

  .figure-sql{
    margin: auto;
    float: right;
  }

  .table-style td{
    margin-bottom: 120px;
    border: 2px solid;
    border-color: rgb(44, 52, 61);
  }

  .table-style tr{
    margin-bottom: 120px;
    border: 2px solid;
    border-color: mediumslateblue;
    background-color: rgb(22, 21, 26);
  }
  
  .contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
    background: url(../images/free03.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-part{
    width: 85%;
    height: 10%;
    margin: auto;
  }

  article{
    font-size: 20px;
  }
  
   img{
    width: 200px;
  }
  

  h1{
    font-size: 50px;
    font-family: Verdana, Geneva, sans-serif;
  }

  th{
    font-size: 50px;
    font-family: Verdana, Geneva, sans-serif;
  }
  
/*
  p{
    font-size: 18px;
    line-height: 30px;
    margin: 2%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 150px;
    padding-top: 30px;
  }
*/
  p1{
    margin:auto;
  }

  p3{
    line-height: 30px;
    margin: 2%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 150px;
    padding-top: 30px;
  }

  .audio{
    display: block;
  }

  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius:50px;
    text-align:center;
    font-weight: 200;
    box-shadow: 2px 2px 3px rgb(51, 51, 51);
    margin: 0%;
  }

  #up-arrow{
    color: rgb(34, 182, 113);
    margin: -20%;
    font-weight: bold;
  }
  
  .scroll-up{
    margin-top:22px;
  }

  #footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

  }
  
  form {
    padding-top: 50px;
  }

  legend{
    font-size: 25px;
  }
  
  .emailButton{
    background-color: rgb(31, 31, 31);
    color: #FFF;
  }

  .form-center {
    display: flex;
    justify-content: center;
  }

  html{
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .Email-logo-format {
    padding-top: 150px;
    
  }
