



  body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
  }
  
  .navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 98px;
    z-index: 1;
  }
  
  .nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
  }
  
  .logo{
    flex: 1 1 auto;
    margin-left: 10%;
  }
  
  a{
    margin: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
  }
  
  a:hover{
    color: dimgray;
  }
  
  .banner-area{
    position: relative;
    background-image:url(../images/bg3.jpg);
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  
  .about-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 80px;
  }
  
  .learnmore-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background: url(../images/bg2.jpg);
  }
  
  .contact-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 80px;
  }
  
  .text-part{
    width: 65%;
    height: 80%;
  }
  
  h1{
    font-size: 50px;
    font-family: Verdana, Geneva, sans-serif;
  }
  
  p{
    font-size: 18px;
    line-height: 30px;
  }

  .audio{
    display: block;
  }

  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:rgb(0, 0, 0);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
  }
  
  .scroll-up{
    margin-top:22px;
  }

  .footerId{
    position: center;
    display: center;
    justify-content: center;
    align-items: center;
  }
  
  html{
    scroll-behavior: smooth;
  }